/* styles.css */

.selected {
  background-color: #eee;
  border: 1px solid #888;
}

.pad {
  padding: 15px;
}

/* Add to your CSS file to style the image */
#colorImagePlaceholder {
    width: 100%;
    max-width: 300px; /* Adjust as needed */
    height: auto;
    margin: 10px 0;
}

.form-check {
    padding: 5px 0;
}

.form-check-label {
    margin-left: 5px;
}
