<!-- templates/tpt/createraces.html -->

{% extends 'tpt/createtpt.html' %}

{% block tpt_content %}

<script type='module' src="{{ url_for('static', filename='js/specialdays.js') }}"></script>

<h1>Create R.A.C.E.S. Packets</h1>

    <div class="pad">
<ul class="nav nav-tabs" id="raceTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="specialDays-tab" data-bs-toggle="tab" data-bs-target="#specialDays" type="button" role="tab" aria-controls="specialDays" aria-selected="true">Special Days</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="titles-tab" data-bs-toggle="tab" data-bs-target="#titles" type="button" role="tab" aria-controls="titles" aria-selected="false">Titles</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="stories-tab" data-bs-toggle="tab" data-bs-target="#stories" type="button" role="tab" aria-controls="stories" aria-selected="false">Stories</button>
  </li>
</ul>

  <div class="tab-content">
  <div class="tab-pane fade show active" id="specialDays" role="tabpanel" aria-labelledby="specialDays-tab">
      <P></P>
        <form method="POST" action="/tpt/createraces">

          <select name="gradeLevelSelect" id="gradeLevelSelect">
            <option value="Kindergarten">Kindergarten</option>
            <option value="1">1st Grade</option>
            <option value="2">2nd Grade</option>
            <option value="3">3rd Grade</option>
            <option value="4">4th Grade</option>
            <option value="5">5th Grade</option>
            <option value="6">6th Grade</option>
            <option value="7">7th Grade</option>
            <option value="8">8th Grade</option>
            <option value="9">9th Grade</option>
            <option value="10">10th Grade</option>
            <option value="11">11th Grade</option>
            <option value="12">12th Grade</option>
          </select>
        <p></p>
          <select name="monthSelect" id="monthSelect">
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March">March</option>
            <option value="April">April</option>
            <option value="May">May</option>
            <option value="June">June</option>
            <option value="July">July</option>
            <option value="August">August</option>
            <option value="September">September</option>
            <option value="October">October</option>
            <option value="November">November</option>
            <option value="December">December</option>
          </select>


        <p></p>

        <button id="getDaysBtn" type="button">Get Special Days</button>

            </form>
        <div id="specialDays" >

          <h3 id="monthName"></h3>

          <ul id="daysList"> </ul>


           <p>
                 <button id="addDayBtn">Add Day</button>
           </p>
            <p></p>
        <p></p>





          <button id="genTitlesBtn">Generate Titles</button>

        </div>
  </div>

  <div class="tab-pane fade" id="titles" role="tabpanel" aria-labelledby="titles-tab">
    <!-- Title generation content -->
      Grade: <div id="gradeleveltitles"></div>
      <br>Month:  <div id="monthNametitles"></div>
            <form method="POST" action="/tpt/createracestitles">
                <input type="hidden" name="specialDaysInput" id="specialDaysInput">

        <button id="getTitlesBtn" type="submit">Get Titles</button>

            </form>
      <div id="titleList"></div>
  </div>

        <div class="tab-pane fade" id="stories" role="tabpanel" aria-labelledby="stories-tab">
    <!-- Story generation content -->
      Hi for stories
  </div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>


<script>
    document.getElementById('genTitlesBtn').addEventListener('click', () => {
        var monthSelect = document.getElementById('month');
        var gradeLevelSelect = document.getElementById('gradeLevel');
        var titlesTab = document.getElementById('titles-tab');

        // Get the selected value of month and grade level
        var selectedMonth = monthSelect.options[monthSelect.selectedIndex].value;
        var selectedGradeLevel = gradeLevelSelect.options[gradeLevelSelect.selectedIndex].value;

                var specialDaysList = document.getElementById('daysList').innerText;
        alert(specialDaysList);
        document.getElementById('specialDaysInput').value = specialDaysList;
        event.preventDefault();


        // Set the innerHTML of the target elements with the selected values
        document.getElementById('monthNametitles').innerHTML = selectedMonth;
        document.getElementById('gradeleveltitles').innerHTML = selectedGradeLevel;

        // Activate the Titles tab
        new bootstrap.Tab(titlesTab).show();
    });
</script>



    <!-- Modal -->
    <div class="modal" id="dayModal"  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Edit Day</h5>
        <h5 class="modal-title" id="modalDayName">Edit Day</h5>
      </div>

      <div class="modal-body">
        <input id="modalDay">
      </div>

      <div class="modal-footer">
        <button id="closeBtn" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="saveBtn" class="btn btn-primary">Save changes</button>
        <button id="delBtn" class="btn btn-primary">Delete Day</button>
      </div>

    </div>
  </div>
</div>


{% endblock %}